---
import Layout from "../layouts/Layout.astro";

const title = "About";
const description =
  "Minim ex sit dolore ea sint mollit cupidatat. Laborum anim culpa officia ullamco fugiat amet elit sunt sunt esse exercitation cillum ex esse. Cupidatat esse ad consectetur Lorem. Laboris adipisicing culpa pariatur eiusmod aliqua aute adipisicing excepteur dolore id duis elit elit.";
const paragraphClasses = "mb-2 lg:mb-5 text-lg leading-loose";

interface Props {
  title: string;
  description: string;
  paragraphClasses: string;
  context: "has-heading-1";
}
---

<Layout context="has-heading-1" title={title} description={description}>
  <h1
    class="text-2xl lg:text-4xl text-center uppercase font-bold mb-5 lg:mb-10"
  >
    {title}
  </h1>
  <div class="max-w-175 mx-auto">
    <p class={paragraphClasses}>
      Aliqua do esse eiusmod mollit eu aute exercitation irure culpa Lorem.
      Fugiat sint ullamco proident ipsum velit cillum ex irure veniam sit aliqua
      reprehenderit. Quis laborum do ea consequat. Amet qui non nulla occaecat
      aliqua cillum esse.
    </p>

    <p class={paragraphClasses}>
      Sint tempor esse do voluptate amet nulla ea nostrud esse nostrud. Deserunt
      exercitation nulla dolor non incididunt. Eiusmod culpa enim dolor officia
      est exercitation officia velit id irure sint deserunt eu. Velit ad
      occaecat eiusmod aliquip nisi eu consequat consectetur.
    </p>

    <p class={paragraphClasses}>
      Lorem non pariatur enim laboris mollit labore aliquip aliquip occaecat
      fugiat id incididunt. Fugiat consequat nulla dolore fugiat. Officia labore
      cillum tempor aliqua ex ullamco ipsum fugiat eiusmod nisi dolore veniam
      minim. Esse non nulla exercitation anim nisi excepteur laboris cupidatat
      aute. Velit sit sint velit Lorem irure proident dolore enim amet qui ad
      elit voluptate quis. Nostrud culpa Lorem voluptate laborum est aliquip
      cillum ut dolore do adipisicing amet dolor reprehenderit. Voluptate ipsum
      dolore et non esse quis irure ullamco.
    </p>

    <p class={paragraphClasses}>
      Pariatur nisi commodo ad quis pariatur quis aliqua laborum. Tempor ut sint
      id commodo excepteur. Ut amet sint est Lorem anim sint cillum duis anim
      eiusmod culpa. Aliqua tempor incididunt qui dolore.
    </p>

    <p class={paragraphClasses}>
      Officia quis enim eu aliquip reprehenderit adipisicing est Lorem quis
      deserunt ullamco. Consectetur nisi cillum dolor mollit elit eu. Eu eu
      consectetur adipisicing quis nulla. Excepteur eiusmod consequat proident
      eu commodo officia nulla laboris eu Lorem non ullamco nulla non. Occaecat
      nostrud nostrud excepteur elit minim incididunt velit fugiat labore aute
      eu est.
    </p>

    <p class={paragraphClasses}>
      Excepteur est dolor ea proident id. Aute labore ea et occaecat sit aliquip
      tempor ullamco proident qui amet aliqua. Ea anim adipisicing nostrud sit
      eiusmod non. Elit reprehenderit do id nisi occaecat ex amet quis proident
      ad. Amet aute reprehenderit culpa aliqua enim ea.
    </p>

    <p class={paragraphClasses}>
      Laboris magna nisi veniam minim culpa eu mollit enim sunt do laborum
      labore sunt. Dolor consequat est laborum dolor aliquip quis ea quis aliqua
      minim. Nostrud reprehenderit fugiat pariatur ullamco nisi enim velit
      proident dolor labore laboris.
    </p>
  </div>
</Layout>
